<div class="slot">
    <input type="radio" id="time" name="time" value="@Time.ToString("HH:mm")">
    <label for="@Time.ToString("HH:mm")">@Time.ToString("HH:mm")<br />@Duration.ToString("mm") min</label>
</div>


