<div class="slot" @onclick=HandleClick>
    <input type="radio" id="time" name="time" value="@Slot.Datetime.ToString("HH:mm")">
    <label for="@Slot.Datetime.ToString("HH:mm")">@Slot.Datetime.ToString("HH:mm")</label>
</div>


